/* Default styles for desktop and larger screens */
.mydiv {
    width: 50%;
    padding: 5vw;
}

.result {
    width: 30vw;
    height: 55vh;
}

/* Styles for screens with a maximum width of 768px (common breakpoint for tablets/mobiles) */
@media (max-width: 768px) {
    .mydiv {
        width: 90%;
        padding: 4vw;
    }

    .result {
        width: 95vw;
        height: auto;
    }
}

/* center anything */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.ltext {
    margin: 'auto';
    margin-top: 20vh;
    color: '#FFFFFF';
}

.glowing {
    position: relative;
    margin-top: 55vh;
    width: 25vw;
    height: auto;
}
