/* Default styles for desktop and larger screens */
.mydiv {
    width: 50%;
    padding: 20px;
}
.result {
    width: 380px;
    height: 700px;
}

/* Styles for screens with a maximum width of 768px (common breakpoint for tablets/mobiles) */
@media (max-width: 768px) {
    .mydiv {
        width: 90%;
        padding: 10px;
    }
    .result {
        width: 50%vw;
        height: 90%vh;
    }
}

/* center anything */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

.glowing {
    position : 'fixed';
    top : '50%';
    left : '50%';
    transform : 'translate(-50%, -50%)';
    width : '25vw';
    height : 'auto';
    z-index: '9999';
}
