/* standard button format */
.button {
    background-color: #ea800f;
    border: 2px solid #432305;
    border-radius: 30px;
    box-shadow: #432305 4px 4px 0 0;
    color: #432305;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 80%;
    margin: 3% auto;
    padding: 3% 5%;
    line-height: 110%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
  
.button:hover {
    background-color: #e99c49;
  }
  
.button:active {
    box-shadow: #432305 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
@media (min-width: 768px) {
    .button {
      min-width: 120px;
      padding: 0 25px;
      line-height: 100%;
    }
  }
